.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Kumbh Sans, serif;
}

.login-title {
  align-items: center;
  text-align: center;
  font-size: 18px;
  margin-bottom: 1rem;
  color: white;
  margin-top: 1em;
}

.login-container form {
  width: 20em;
    margin-bottom: 7em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-title h1 {
  font-size: 2rem;
}

.login-user-input {
  margin-bottom: 1em;
  align-items: center;
  justify-content: center;
}

.login-input {
  width: 15em;
  height: 2em;
  border-radius: 0.5em;
  border: 1px solid #ccc;
  padding-left: 0.7em;
}

.login-btn-submit {
  width: 40%;
  margin: 0.5em 30% 1.5em;
  height: 2em;
  border-radius: 0.5em;
  border: none;
  background-color: #ccc;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.login-btn-submit:hover {
  background-color: #007bff;
}

.login-error {
  color: red;
  font-size: 1rem;
}

@media (max-width: 230px) {
    .login-title h1 {
        font-size: 1.6rem;
    }
}

@media (min-width: 230px) and (max-width: 300px) {
    .login-title h1 {
        font-size: 2rem;
    }
}

@media (max-width: 300px) {
    .login-container {
        width: 100%;
    }

    .login-container form {
        width: 80%;
    }

    .login-user-input {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .login-input {
        width: 100%;
    }

    .login-btn-submit {
      width: 40%;
      margin-left: 30%;
      margin-right: 30%;
    }
}
