.not-found {
  padding: 8rem 0;
  text-align: center;
  background-color: #f2f2f2;
  font-family: Montserrat, sans-serif;
}

.not-found-title {
  font-size: 3rem;
  margin-bottom: 2rem;
  font-weight: 600;
  color: #303030;
  margin-top: 1em;
}

.not-found-text {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  font-weight: 600;
  color: #303030;
  margin-top: 1em;
}
