.chat-app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  align-items: center;
}

.content-container {
  display: flex;
  flex-grow: 1;
  padding: 20px;
  gap: 10px;
  overflow-x: hidden;
  width: 100%;
  box-sizing: border-box;
}

.chat-section {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #FEFEFE;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 16px 24px 40px 24px;
}

@media (max-width: 900px) {
  .content-container {
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
  }
  .chat-section {
    flex-grow: 0;
    height: auto;
    padding: 0 15px;
  }
}
