.bio-box {
    display: flex;
    color: white;
    width: 80%;
    margin-left: 15%;
    margin-right: 15%;
    justify-content: left;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: justify;
    text-justify: inter-word;
    flex-direction: row;
    max-width: 1200px;
}

.character-image img {
    width: 50px;
}

.character-info {
    margin-left: 10px;
    width: 100%;
}

.character-name {
    font-size: 18px;
    font-weight: bold;
}
.character-description {
    font-size: 16px;
}
@media (max-width: 370px) {
    .bio-box {
      margin-top: 10px;
    }
    .character-name {
        font-size: 16px;
    }
    .character-description {
        font-size: 13px;
    }
}
@media (min-width: 370px) and (max-width: 650px) {
    .bio-box {
      margin-top: 20px;
    }
    .character-name {
        font-size: 17px;
    }
    .character-description {
        font-size: 14px;
    }
    .bio-box {
      padding: 5px;
    }
}

@media (min-width: 650px) {
    .bio-box {
        margin-top: 30px;
    }
}